{{- $name := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $gitSigningkey := promptStringOnce . "git.signingkey" "GPG key id for signing git commits" -}}
{{- $onePasswordsshHost := promptStringOnce . "onepassword.ssh.host" "1Password SSH HOST filter" -}}
{{- $onePasswordsshKey := promptStringOnce . "onepassword.ssh.key" "1Password SSH Key item name" -}}
{{- $onePasswordsshVault := promptStringOnce . "onepassword.ssh.vault" "1Password SSH Key vault" -}}
{{- $profileName := promptStringOnce . "profile.name" "Profile (personal | work)" -}}
{{- $profileType := promptStringOnce . "profile.type" "Profile Type (laptop | workstation | virtual)" }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  git.signingkey = {{ $gitSigningkey | quote }}
  git.github.email = "740299+prahaladramji@users.noreply.github.com"
  git.github.signingkey = "93AD8FA0D1747C25"
  onepassword.ssh.host = {{ $onePasswordsshHost | quote }}
  onepassword.ssh.key = {{ $onePasswordsshKey | quote }}
  onepassword.ssh.vault = {{ $onePasswordsshVault | quote }}
  profile.name = {{ $profileName | quote }}
  profile.type = {{ $profileType | quote }}

