#!/bin/sh

# disable gpu led
nvidia-settings --assign GPULogoBrightness=0
xrdb -merge ~/.Xresources

xsetroot -name background # set 'Root' window.
xsetroot -cursor_name left_ptr # set cursor

# xset -dpms
