! setup x settings
Xft.dpi:                              96
Xft.antialias:                        1
Xft.autohint:                         1
Xft.hinting:                          1
Xft.hintstyle:                        hintsfull
Xft.lcdfilter:                        lcddefault
Xft.rgba:                             rgb
Xcursor.theme:                        pixelfun3


! define colors
#include "/home/pramji/.termcolors/TomorrowNight"
*.foreground:   ForeGround
*.background:   BackGround
*.cursorColor:  Cursor

*.color0:       Black
*.color8:       DarkGrey
*.color1:       DarkRed
*.color9:       Red
*.color2:       DarkGreen
*.color10:      Green
*.color3:       DarkYellow
*.color11:      Yellow
*.color4:       DarkBlue
*.color12:      Blue
*.color5:       DarkMagenta
*.color13:      Magenta
*.color6:       DarkCyan
*.color14:      Cyan

! Selection + Current Line
*.color7:       LightGrey
*.color15:      White

URxvt*termName:                       rxvt-256color
URxvt*scrollBar:                      false
URxvt.saveLines:					  8192
URxvt*cursorBlink:                    true
URxvt*font:                           xft:PragmataPro Mono:pixelsize:10
URxvt*depth:                          32
URxvt*lineSpace:                      1
URxvt.iso14755:						  false
URxvt.iso14755_52:					  false
URxvt*perl-ext-common:                default
URxvt*keysym.Shift-Control-C:         eval:selection_to_clipboard
URxvt*keysym.Shift-Control-V:         eval:paste_clipboard

