! setup x settings
Xft.dpi:                              96
Xft.antialias:                        1
Xft.autohint:                         1
Xft.hinting:                          1
Xft.hintstyle:                        hintsfull
Xft.lcdfilter:                        lcddefault
Xft.rgba:                             rgb
Xcursor.theme:                        pixelfun3


! define colors
#include </home/pramji/.termcolors/TomorrowNight>
*.foreground:   foreground
*.background:   background
*.cursorColor:  cursor

*.color0:       black
*.color8:       bblack
*.color1:       red
*.color9:       bred
*.color2:       green
*.color10:      bgreen
*.color3:       yellow
*.color11:      byellow
*.color4:       blue
*.color12:      bblue
*.color5:       magenta
*.color13:      bmagenta
*.color6:       cyan
*.color14:      bcyan

! Selection + Current Line
*.color7:       white
*.color15:      bwhite

URxvt*termName:                       rxvt-256color
URxvt*scrollBar:                      false
URxvt*cursorBlink:                    true
URxvt*font:                           xft:PragmataPro Mono:pixelsize:10
URxvt*depth:                          32
URxvt*lineSpace:                      1
URxvt*perl-ext-common:                default,clipboard
URxvt*keysym.Shift-Control-C:         perl:clipboard:copy
URxvt*keysym.Shift-Control-V:         perl:clipboard:paste
URxvt.clipboard.autocopy:       		true
