# enable substitution for prompt
setopt prompt_subst

# Generate an icon (requires nerd font)
function icon {
{{- if eq .chezmoi.os "darwin" }}
  echo -n "\uf302"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
  echo -n "\uf306"
{{- end }}
}

# Maia prompt
PROMPT="%B%{$fg[cyan]%}$(icon) %(4~|%-1~/.../%2~|%~)%u%b >%{$fg[cyan]%}>%B%(?.%{$fg[cyan]%}.%{$fg[red]%})>%{$reset_color%}%b "
RPROMPT="%{$fg[red]%} %(?..[%?])"

